/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../assets/fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/roboto-slab-v11-latin-regular.woff')
            format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-700 - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../assets/fonts/roboto-slab-v11-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/roboto-slab-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-900 - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('../assets/fonts/roboto-slab-v11-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/roboto-slab-v11-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.6rem;
    color: $color-grey-light;
}

.section-heading {
    display: inline-block;
    background-color: $color-primary;
    padding: 1.6rem 5rem;
    margin-bottom: 1.6rem;
    transform: rotate(-8deg);

    @include clipped;

    svg {
        transform: scale(1.4);
        filter: $svg-color-grey-light;
        margin-right: 1rem;
    }
}
