// COLORS
$color-primary: #05386b;

$color-secondary: #5cdb95;
$color-secondary-light: #8ee4af;
$color-secondary-dark: #379683;

$color-white: #fff;
$color-grey-light: #edf5e1;
$color-grey-dark: #777;
$color-black: #000;
