// COLORS
$color-primary: #05386b;

$color-secondary: #5cdb95;
$color-secondary-light: #8ee4af;
$color-secondary-dark: #379683;

$color-white: #fff;
$color-grey-light: #edf5e1;
$color-grey-dark: #777;
$color-black: #000;

// SVG COLORS
$svg-color-primary: invert(13%) sepia(77%) saturate(2621%) hue-rotate(198deg) brightness(89%) contrast(96%);
$svg-color-secondary: invert(78%) sepia(26%) saturate(781%) hue-rotate(91deg) brightness(92%) contrast(93%);
$svg-color-grey-light: invert(92%) sepia(11%) saturate(314%) hue-rotate(51deg) brightness(108%) contrast(92%);
