// COLORS
$color-primary: #0d3b66;
$color-primary-light: #406e99;
$color-primary-dark: #000833;

$color-secondary: #09736e;
$color-secondary-light: #3ca6a1;
$color-secondary-dark: #00403b;

$color-white: #fff;
$color-grey-light: #eee;
$color-grey-dark: #777;
$color-black: #000;
