#section-about {
    padding: 2rem 6rem;

    & .section-about__content {
        display: flex;

        & > div {
            flex: 1;
            padding: 0 1.5rem;
        }
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: $color-grey-dark;

        &__figure {
            float: left;
            width: 18rem;
            height: 18rem;
            border-radius: 50%;
            overflow: hidden;
            shape-outside: circle(50%);
            margin-right: 2.8rem;
        }

        &__img {
            height: 100%;
        }

        svg {
            margin-right: 1rem;
        }
    }

    .proficiency {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        grid-template-rows: repeat(auto-fit, 1fr);
        row-gap: 1.4rem;

        &__category {
            grid-column: 1;
            background-color: $color-secondary;
            padding: 0.8rem 2rem;
            text-align: center;
        }

        &__bar {
            grid-column: 2;
            background-color: $color-grey-light;

            &--filled {
                height: 100%;
                background-color: $color-secondary-dark;
            }
        }

        &__percentage {
            grid-column: 3;
            background-color: $color-grey-light;
            color: $color-grey-dark;
            padding: 0.8rem 1.2rem;
        }
    }
}
