#section-about {
    display: grid;
    grid-template-columns: subgrid;
    height: 750px;

    .profile {
        grid-column: col-start 1 / col-end 4;
    }

    .proficiency {
        grid-column: col-start 4 / col-end 8;
    }
}
