.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1.5rem 3.5rem;
        display: inline-block;
        background-color: $color-primary;
        text-transform: uppercase;
        color: $color-grey-light;
    }

    &:hover {
        color: $color-secondary;
        // box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    }

    @include selectable;
    @include clipped;
}
