.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1.5rem 3.5rem;
        display: inline-block;
        background-color: $color-primary;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: $color-grey-light;
        clip-path: polygon(0 15%, 100% 0%, 95% 100%, 0 90%);
    }

    &:hover {
        color: $color-secondary;
        // box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    }

    @include selectable;
}
