.header {
    height: calc(100vh - 6.8rem);

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        text-align: center;
    }

    &__text {
        font-size: 5rem;
    }
}
