.header {
    height: calc(100vh - 58px);

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__text {
        font-size: 5rem;
        color: $color-white;
        margin-bottom: 2rem;
    }
}
