.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1.5rem 10rem;
    z-index: 1000;

    %nav-link {
        display: flex;
        align-items: center;

        @include selectable;
    }

    %nav-link--primary {
        @extend %nav-link;
        &:hover {
            a {
                color: $color-grey-light;
            }

            svg {
                filter: $svg-color-grey-light;
            }
        }
    }

    %nav-link--secondary {
        @extend %nav-link;
        &:hover {
            a {
                color: $color-secondary;
            }

            svg {
                filter: $svg-color-secondary;
            }
        }
    }

    &-logo {
        @extend %nav-link--primary;
        font-size: 2.8rem;
        letter-spacing: 1px;
    }

    &-list {
        flex: 0 0 30%;
        display: flex;
        justify-content: space-between;

        &__item {
            @extend %nav-link--primary;
            list-style: none;
            padding: 0 2rem;
        }
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: $color-primary;
    }

    svg {
        filter: $svg-color-primary;
        margin: 0 0.7rem;
    }

    &.nav--scrolled {
        background-color: $color-primary;

        .nav-logo {
            @extend %nav-link--secondary;
        }

        .nav-list__item {
            @extend %nav-link--secondary;
        }

        a {
            color: $color-grey-light;
        }

        svg {
            filter: $svg-color-grey-light;
        }
    }
}
