.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1.5rem 10rem;
    z-index: 1000;

    &.nav--scrolled {
        background-color: $color-primary;

        a {
            color: $color-grey-light;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    &-logo {
        font-size: 2.8rem;
        letter-spacing: 1px;
    }

    &-list {
        flex: 0 0 30%;
        display: flex;
        justify-content: space-between;

        &__item {
            list-style: none;
            font-size: 1.6rem;
            padding: 0 2rem;
        }
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: $color-primary;

        &:hover {
            color: $color-grey-light;
        }
    }
}
