.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1rem 10rem;

    &--scrolled {
        background-color: $color-primary;
    }

    &-logo {
        font-size: 2.8rem;
        letter-spacing: 1px;

        a {
            color: $color-primary;
        }
    }

    &-list {
        flex: 0 0 30%;
        display: flex;
        justify-content: space-between;

        &__item {
            list-style: none;
            font-size: 1.4rem;
            padding: 0 2rem;

            &:hover {
                a {
                    color: $color-primary;
                }
            }

            a {
                color: $color-white;
            }
        }
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
    }
}
